table,td,th{
    border: 2px solid black;
    border-radius: 5px;
    border-collapse: separate;
    
}

ol,li{
    list-style-type: none;
    text-align: center;
    margin-left: 0px;
}

h3{
    text-align: center;
    color: coral;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    background-color: lightblue;
    border-color: lightblue;
    border-radius: 5px;
}



button:hover{
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(4, 95, 125);
    border-color: lightblue;
    border-radius: 5px;
    color: white;

}
