<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Addition Form</title>
</head>
<body>


    <div class="employeeform" style="margin: auto; width: 50%; border: 1px solid black;">
        <h2 style="text-align: center;">This is the EMployee Addition Page</h2>

        
        <form action="" method="post" >
            {% csrf_token %}

            {{form}}
    
            <input type="submit" value="Add Employee" style="margin: auto; width: 50%; border: 1px solid black;">
        </form>
    </div>
    
</body>
</html>