<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Delete Form</title>
</head>
<body>
    <h1>EMPLOYEE REMOVAL PAGE</h1>

    <form action="" method="post">

        {% csrf_token %}

        <h3>Are you sure you want to delete {{employee}}'s entry</h3>

        <input type="submit" value="Yes,Delete">
    </form>
    <a href="{% url 'Home' %}"><button>No Go back</button></a>
    
</body>
</html>