<!DOCTYPE html>
<html lang="en">
<head>
    {% load crispy_forms_tags %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Update Form</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">


</head>
<body>

    <div class="container text-center my-5">
        <h1 class="display-3">EMPLOYEE UPDATE PAGE</h1>

        
        <form action="" method="post" enctype="multipart/form-data">

                {% csrf_token %}
                <br>


                {{form|crispy}}

                <br>

                <br>
                <br>
                <button class="btn btn-success" type="submit">Update Employee</button>
            </div>
        </form>
        <br>
        <br>
        <br>
        
    </div>




    
</body>
</html>