<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
</head>
<body>

   

    {% include 'mainnav.html' %}

    <h3 class="display-4 text-center font-weight-bold" >Welcome to Employee Database list</h3>

    <hr>
    <hr>
    <div class="d-flex flex-row justify-content-center">


    {% if request.user.is_authenticated %}
    <a class="btn btn-success btn-block text-center w-25  m-5" href="{% url 'add-employee' %}">Add New Employee</a>

    <a class="btn btn-success btn-block text-center w-25  m-5" href="{% url 'logout' %}">Logout</a>

    <a href="{% url 'change-password' %}" class="btn btn-info btn-block text-center w-25 m-5">Change Password</a>
    {% else %}
    <a class="btn btn-success btn-block text-center w-25  m-5" href="{% url 'login' %}">Login/Register</a>
    {% endif %}

    

    </div>
    <br>

    <form action="" method="get">
    {% csrf_token %}
    <div class="input-group input-group-lg form-group align-self-center w-50 m-auto">
        <input class="form-control" type="text" name="search_query" id="SearchForm" placeholder="Search Employee" value={{search_query}} >
        <div class="input-group-append">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
    </div>
    </form>

    <hr>
    <hr>

    <div class="container">
        <div class="row">
        {% for employee in employee_datas %}
        <div class="col-6">
            <div class="card w-100 h-75 text-center">
                <img class="card-img-top h-50" src={{employee.profile_img.url}} alt="profile_img">
                <div class="card-body">
                    <h4 class="card-title">{{employee.name}}</h4>
                    <p class="card-text lea font-weight-bold">{{employee.employee_id}}</p>
                    <p class="card-text lead">{{employee.designation}}</p>
                    <p class="card-text lead">{{employee.department}}</p>


                    <!-- <a class="btn btn-success btn-block" href="#">Read More</a> -->
                </div>
                <div class="card-footer">
                    <div class="d-flex">
                        <div class="mr-auto"><a href="{% url 'Employee' employee.name %}"><i class="fa fa-file"></i></a></div>
                        {% if request.user.is_authenticated %}
                        <div class="mx-1"><a href="{% url 'update-employee' employee.name %}"><i class="fa fa-address-card-o"></i></a></div>
                        <div class="mx-1"><a href="{% url 'delete-employee' employee.name %}"><i class="fa fa-trash"></i></a></div>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    
    </div>
    {% if employee_datas.has_other_pages %}
    <ul class="pagination pagination-lg justify-content-center">

        {% if employee_datas.has_previous %}

        <li class="page-item">
            <a class="page-link" href="?page={{employee_datas.previous_page_number}}{% if search_query %}&search_query={{ search_query }}{% endif %}">
              <span>&laquo; Prev</span>
            </a>
          </li>

        {%endif%}


        {% for page in custom_range %}

        {% if page == employee_datas.number %}

        <li class="page-item active"><a class="page-link" href="?page={{page}}{% if search_query %}&search_query={{ search_query }}{% endif %}">{{page}} </a></li>

        {% else %}

        <li class="page-item "><a class="page-link" href="?page={{page}}{% if search_query %}&search_query={{ search_query }}{% endif %}">{{page}}</a></li>

        {% endif %}

        {% endfor %}

        {% if employee_datas.has_next %}

        <li class="page-item">
            <a class="page-link" href="?page={{employee_datas.next_page_number}}{% if search_query %}&search_query={{ search_query }}{% endif %}">
              <span>Next &raquo;</span>
            </a>
          </li>

        {% endif %}

    </ul>
    {%endif%}


      <div class="mt-5">margin</div>




    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
        
    
</body>
</html>


